body{
    background-color: black;
    padding-top: 15rem;
}

.timerBody{
    background-color: rgb(0, 0, 0);
    margin: auto;
    color: white;
    margin-bottom: 2rem;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    cursor: default;
}
.btnTimer{
    display: flex;
    margin: auto;
    width: 50%;
}

.timer{
    flex:1;
    border: 2px solid;
    cursor: pointer;
    margin-bottom: 3rem;
    background-color: black;
    color: white;
    font-size: 20px;
}

.timer:first-child{
    margin-right: 50px;
}

.counterbody{
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 50%;
    height: 10rem;
    text-align: center;
    cursor: default;
}

.txtCounter{
    color: rgb(255, 255, 255);
    font-size: 8rem;
}

.btn{
    text-align: center;
    font-size: 40px;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    cursor:pointer;
}
